{% if persons is defined %}
    <label for="client_selection">Reponsable</label>
    <select id="select-responsable" class="form-control selectpicker" data-live-search="true" title="Seleccione el responsable" name="responsable">
        {% for person in persons %}
            <option value="{{ person.id }}">{{ person.name }}</option>
        {% endfor %}
    </select>
{% endif %}