{% if clients is defined %}
    <label for="client_selection">Clientes</label>
    <select id="client_selection" class="form-control selectpicker" data-live-search="true" title="Seleccione el cliente" name="clients" multiple>
        {% for client in clients %}
            <option value="{{ client['FULL_NAME'] }}">{{ client['FULL_NAME'] }}</option>
        {% endfor %}
    </select>
{% endif %}