{% if incidences is defined %}
    {% for incidence in incidences %}
        <div class="col-md-1">
            <div class="form-group">
                <input type="checkbox" name="quux[1]" class="icheck">
            </div>
        </div>
        <div class="col-md-4">
            <label>
                {{ incidence.description }}
            </label>
        </div>
        <br>
    {% endfor %}
{% endif %}
