<form action="{{ path(url) }}" method="post" id="filter-form">
    <div id="filter-layout" class="input-group">
        <input id="filter-text" name="filter" type="text" class="form-control" placeholder="Buscar..." value="">
              <span class="input-group-btn">
                <button id="filter-button" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span> </button>
              </span>
    </div><!-- /input-group -->

    {#<input type="text" name="filter" class="form-control">#}
</form>